@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HoşGEldin @ViewBag.CurrentUser</h1>
    
    <p><a href="/Account/LogOut" class="btn btn-danger">Çıkış Yap &raquo;</a></p>
</div>

